<nav></nav>
  <section class=”container”></section>
  <div id="portfolio">
  <h1 id="tytul">{{title}}</h1>
  <p>{{description}}</p>
  <input type="text" name="searchValue" [(ngModel)]="searchValue" placeholder="Szukaj" id="wyszukaj">
  <p>Szukam: {{searchValue}} </p>
  <ul *ngIf="galleries">
    <li (click)="setYear(0)" class="lista">Reset filtra</li>
    <li *ngFor="let item of galleries | years" (click)="setYear(item)" class="lista">{{item}}</li>
  </ul>
  <p *ngIf="galleries" id="ilosc">Ilość elementów: {{galleries.length}}</p>
</div>
<div id="zdjecia" *ngIf="galleries">
  <div *ngFor="let item of galleries | searchGalleries : searchValue : year; trackBy: trackByGalleryId">
    <img [src]="item.thumbUrl" alt="">
    <p>{{item.title}}</p>
    <p>{{item.dateCreated | polishDate | uppercase}}</p>
    <p>{{item.description}}</p>
  </div>
</div>